{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Pressure</h1>
    <img src={{ url_for('static', filename="pressure.gif") }}  alt="Pressure">
{% endblock %}

{% block javascript %}
<script>    
     window.setTimeout(function(){

       // Move to a new location or you can do something else
       window.location.href = "http://localhost:5000/home";
       }, 10000);

 </script>
{% endblock %}